@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* geral */
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  color: #323232;
  border: none;
}

input, label {
  display: block;
  outline: none;
}

a {
  color: #E60084;
}

body {
  background: #2C3E50;
  background: -webkit-linear-gradient(to right, #FD746C, #2C3E50); 
  background: linear-gradient(to right, #FD746C, #2C3E50);
  width: 100%;
}

/*CSS FLEXBOX*/

figure {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

figure > div {
    align-items: center;
    flex: 1 1 200px;
    margin: 10px;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 50%;
}

.text-sobre{
    font-size: 1.2rem;
    font-weight: 530;
    text-align: center;
    letter-spacing: .2rem;
    padding: 2rem;
}

.container {
    height: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    border-radius: 10px;
    padding: 2rem;
}
  
.container h1 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.8rem;
}